<div class="session-details">
  <div class="session-details__section">
    <p class="session-details__type">1-1 session</p>
    <h4 class="session-details__title">{{ service.title }}</h4>
  </div>
  
  <div class="session-details__meta">
    <div class="session-details__meta-item">
      <div class="session-details__icon">
        <img src="/assets/icons/duration.png" alt="Duration" width="24" height="24">
      </div>
      <span class="session-details__meta-text">{{ duration }}min</span>
    </div>
    
    <div class="session-details__meta-item">
      <div class="session-details__icon">
        <img src="/assets/icons/google_meet.png" alt="Google Meet" width="24" height="20">
      </div>
      <span class="session-details__meta-text">Google meets</span>
    </div>
  </div>
</div>
